* {
    margin: 0;
    padding: 0;
    font-family: 'Playball', cursive;
    box-sizing: border-box;

}

body {
    background-color: grey;
    border: 10px solid orange;
    border-radius: 8px;
    margin: 20px 40px;
    padding: 10px;
}

#cont1,
#cont2 {
    font-size: 30px;
}


.img2,
.img3 {
    float: left;
    width: 50%;
    /* height: 50vh; */
    border: 1px solid black;
    border-radius: 20px;
}

.header h1 {
    text-align: center;
    font-size: 5vw;
    text-shadow: 8px 7px 12px gold, 5px 5px 10px orangered;
}

.header h4 {
    text-align: center;
    margin-bottom: 15px;
    font-style: italic;
}




@media (max-width: 500px) {

    .img2,
    .img3 {
        /* height: 50vw; */
        line-height: 1vw;
        width: 100%;
        border: 1px solid red;

        text-align: center;
        margin: 1em 0;


    }

    body {
        margin: 20px 40px;
        padding: 8px;
    }

    .container p {
        clear: left;
    }

}

@media (max-width: 387px) {
    body {
        background-color: grey;
        border: 10px solid orange;
        border-radius: 8px;
        margin: 8px 40px;
        padding: 7px;
    }

    .header h4 {
        text-align: center;
        margin-bottom: 15px;
        font-size: 4vw;
    }

    #cont1,
    #cont2 {
        overflow: auto;
    }

}